drivers/kcr/*.o
drivers/kcr/*.obj
drivers/kcr/*.a
drivers/kcr/*.so
drivers/kcr/*.dylib
drivers/kcr/*.dll
include/linux/*.o
include/linux/*.obj
include/linux/*.a
include/linux/*.so
include/linux/*.dylib
include/linux/*.dll
*.ko
*.mod.c
*.mod.o
*.order
*.symvers
*.markers
.tmp_versions/
*.c~*
*.h~*